$primaryColor: rgba(27, 55, 100, 1);
$secondaryColor: rgba(255, 202, 66, 1);
$bgColor: rgba(245, 248, 252, 1);
$textColor: rgba(150, 154, 160, 1);
$secondaryTextColor: rgba(255, 255, 255, 1);
$contrastTextColor: rgba(180, 199, 231, 1);
$titleContrastColor: rgba(255, 255, 255, 1);
$cartColor: rgba(0, 0, 0, 1);
$socialsColor: rgba(20, 20, 20, 1);
$socialsBgColor: rgba(255, 255, 255, 1);
$placeholderColor: rgba(220, 225, 233, 1);
$linkColor: rgba(246, 248, 252, 1);
$benefitsColor: rgba(244, 248, 255, 1);
$trailColor: rgba(255, 255, 255, 1);
$inputColor: rgba(255, 255, 255, 1);