.articles-item__image {
  margin: 0;
  width: 420px;
  height: 350px;
}

.articles-item__wrapper {
  padding: 25px 30px 30px;
  background-color: $trailColor;
  border-radius: 0 0 5px 5px;
}

.articles-item__title {
  margin-bottom: 19px;
  color: $primaryColor;

  @include font-style(24px, 34px);
}

.articles-item__description {
  margin: 0;
  margin-bottom: 13px;

  @include font-style(19px, 30px);
}

.articles-item__more {
  display: flex;
  justify-content: space-between;
}

.articles-item__link {
  position: relative;
  color: $primaryColor;
  font-family: "Cardo", "Times New Roman", sans-serif;
  text-decoration: none;

  @include font-style(19px, 23px);

  &::after {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $primaryColor;
    content: "";
  }

  &:hover {
    color: $secondaryColor;

    &::after {
      background-color: $secondaryColor;
    }
  }

  &:active {
    color: rgba($primaryColor, 0.4);

    &::after {
      background-color: rgba($primaryColor, 0.4);
    }
  }
}

.articles-item__date {
  color: $primaryColor;

  @include font-style(16px, 25px);
}