.author {
  position: relative;
  display: flex;
  gap: 150px;
  background-color: $bgColor;
}

.author__wrapper {
  width: 605px;
}

.author__title {
  margin-bottom: 33px;
  color: $primaryColor;

  @include font-style(42px, 50px);
}

.author__about {
  margin-bottom: 34px;

  @include font-style(19px, 34px);
}

.author__numbers {
  margin-bottom: 70px;
}

.author__photo {
  position: absolute;
  top: 150px;
  left: 40px;
}

.author__frame {
  display: block;
  width: 525px;
  height: 620px;
  border: 10px solid $secondaryColor;
}

.author__image {
  box-shadow: 0 0 20px rgba(27, 55, 100, 0.3);
}