.benefits {
  position: relative;
}

.benefits__title {
  margin-bottom: 90px;
  color: $primaryColor;
  text-align: center;

  @include font-style(42px, 50px);
}

.benefits__wrapper {
  display: flex;
  gap: 109px;
  align-items: start;
}

.benefits__list {
  display: grid;
  grid-template-columns: repeat(2, 303px);
  gap: 30px;
  counter-reset: benefits;

  @include list-reset;

  padding-top: 30px;
}

.benefits__frame {
  display: block;
  width: 535px;
  height: 632px;
  border: 10px solid $secondaryColor;
}

.benefits__image {
  position: absolute;
  top: 283px;
  right: 110px;
}
