@font-face {
  font-family: "Cardo";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Cardo-Regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Inter-Regular.ttf");
  font-display: swap;
}