.main__promo {
  padding: 0 70px 100px;
}

.main__books {
  padding: 110px $padding 90px;
}

.main__author {
  padding: 180px $padding 140px;
}

.main__trust {
  padding: 110px $padding 130px;
}

.main__order {
  padding: 125px $padding;
}

.main__benefits {
  padding: 140px $padding;
}

.main__trail {
  padding: 100px $padding 120px;
}

.main__reviews {
  padding: 130px $padding 150px;
}

.main__articles {
  padding: 110px $padding 150px;
}

.main__subscribe {
  padding: 120px $padding;
}