.nav__list {
  display: flex;
  gap: 30px;
  min-height: 109px;
  padding: 20px 0;
  box-sizing: border-box;

  @include list-reset;
}

.nav__link {
  display: block;
  padding: 40px 10px;
  color: $linkColor;
  text-decoration: none;

  @include font-style(17px, 25px);
}