.page {
  height: 100%;
  background-color: $primaryColor;
}

.page__body {
  margin: 0;
  padding: 0 70px;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.page__main {
  flex-grow: 1;
}