.parameters {
  display: flex;
  gap: 70px;
}

.parameters__wrapper {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  column-gap: 10px;
  row-gap: 12px;
  align-items: center;
  margin: 0;

  &::before {
    @include dot;
  }
}

.parameters__item {
  color: $secondaryTextColor;
  font-family: "Cardo", "Times New Roman", sans-serif;
  @include font-style(24px, 29px);
}

.parameters__value {
  margin: 0;
  grid-column: 2 / 2;
  justify-self: end;
  color: $contrastTextColor;

  @include font-style(17px, 27px);
}