.promo-text__note {
  margin-bottom: 15px;
  font-family: "Cardo", "Times New Roman", sans-serif;
  color: $secondaryTextColor;

  @include font-style(21px, 36px);
}

.promo-text__title {
  margin-bottom: 24px;
}

.promo-text__description {
  margin: 0;
  margin-bottom: 42px;

  @include font-style(18px, 28px);
}

.promo-text__wrapper {
  display: flex;
  align-items: center;
  gap: 51px;
  margin-bottom: 47px;
}

.promo-text__link {
  display: block;
  color: $secondaryTextColor;
  font-family: "Cardo", "Times New Roman", sans-serif;
  text-decoration: none;

  @include font-style(19px, 30px);
}