.socials__list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;

  @include list-reset;
}

.socials__link {
  position: relative;
  display: block;
  width: 45px;
  height: 45px;
  background-color: $socialsBgColor;
  color: $socialsColor;

  &--light {
    border: 1px solid $secondaryColor;
    background-color: inherit;
  }

  &:hover {
    background-color: $secondaryColor;
  }

  &:active {
    opacity: 0.2;
  }
}

.socials__icon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  &--light {
    color: $socialsBgColor;
  }
}
