.trail-item {
  padding: 40px;
  background-color: $trailColor;
  box-sizing: border-box;
}

.trail-item__title {
  color: $primaryColor;
  margin-bottom: 21px;

  @include font-style(24px, 29px);
}

.trail-item__description {
  margin-bottom: 10px;

  @include font-style(19px, 32px);
}