.trust-item::before {
  margin: 0 auto;
  margin-bottom: 22px;
}

.trust-item {
  &--amazen::before {
    display: block;
    width: 189px;
    height: 100px;
    background-image: url("../img/amazin.svg");
    background-position: center;
    content: "";
  }

  &--megan::before {
    display: block;
    width: 189px;
    height: 100px;
    background-image: url("../img/megan.svg");
    background-position: center;
    content: "";
  }

  &--megank::before {
    display: block;
    width: 189px;
    height: 100px;
    background-image: url("../img/megank.svg");
    background-position: center;
    content: "";
  }

  &--urban::before {
    display: block;
    width: 189px;
    height: 100px;
    background-image: url("../img/urban.svg");
    background-position: center;
    content: "";
  }
}

.trust-item__title {
  margin-bottom: 19px;
  color: $primaryColor;

  @include font-style(24px, 29px);
}

.trust-item__description {
  @include font-style(19px, 28px);
}